/*
## Breadcrumb
********************************************************************/

.breadcrumb{
	background:#ffffff;
	margin:0 0 30px 0;
}

.breadcrumb ul{
	padding:12px;
	line-height:0.833em;
}

.breadcrumb ul li{
	float:left;
}

.breadcrumb ul li.separator{
	padding:0 6px;
	font-size: 1em;
	line-height: 0.9em;
}

.breadcrumb ul li,
.breadcrumb ul li a{
	color:#0068b3;
	/*font-size:0.9em;*/
	/*text-transform:uppercase;*/
}

.breadcrumb ul li a.last{
	color:#3c3c3c;
}
